header {
  @include espacio(0,0);
}

.navbar {
  background-color: $background-principal;
  padding-left: 70px;
  @include tamaño(100%,100%);
}

.nav-link {
  color: $color-principal;
  font-size: 20px;
}

.logo {
  margin-right: 25px;
  @include tamaño(80px,110px);
}


.navbar-toggler {
  border-color: $color-principal;
}

.navbar-toggler-icon {
  background-image: $background-icon;
}
.navbar-nav .nav-link:hover {
  color: $color-second;
}
