.form {
  &-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;
    height: auto;
  }
  &-group {
    margin-bottom: 15px;
    label {
      display: block;
      margin-bottom: 4px;
    }
    input {
      @include tamaño(100%, 35px);
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}

form {
  border: 2px solid #ccc;
  @include espacio(50px, 50px auto);
  border-radius: 10px;
  width: 85%;
  background-color: map-get($colors-element , blanco );
}

h1 {
  text-align: center;
}

.titulo-product {
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  @include tamaño(380px, 30px);
}
