.card-container {
  width: 100%;
  max-width: 500px;
}

.carousel-inner img {
  object-fit: cover;
  max-width: 95%;
  height: auto;
  margin: 0 auto;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.producto-item {
  background-color: $color-principal;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include espacio(20px, 10px);
  max-width: 300px;
  text-align: center;
}

.producto {
  @include tamaño(100%, auto);
  margin-bottom: 10px;
}

.conteiner-product {
  padding: 10px;
}

.product-parrafo {
  font-size: 14px;
  color: #333;
}
