@media (max-width: 768px) {
  .footer-container {
    .grupo-1 {
      grid-template-columns: 1fr;
      text-align: center;

      .box {
        margin-bottom: 20px;
      }

      .red-sociales {
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .carousel-inner {
    max-height: 300px;
  }

  .carousel-item {
    img {
      object-fit: cover;
      height: auto;
    }
  }
}
