/* Estilos para contenedor principal de tarjetas */
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px;
  border: 1px solid #85929e;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.container-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido principal dentro de la tarjeta */
.main-content {
  padding: 20px;
}

/* Estilos para el título de la tarjeta */
.card-title {
  font-size: 1.5em;
  margin-bottom: auto;
  font-weight: bold;
}

/* Estilos para el texto dentro de la tarjeta */
.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

/* Estilos generales para la tarjeta */
.card {
  margin: 0 auto;
  border: 1px solid #dee2e6;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
}

/* Estilos para el título de la tarjeta */
.card-titulo {
  color: #34495e;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

/* Estilos para el texto dentro de la tarjeta */
.card-texto {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Estilos para el título del producto */
.titulo-product {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones */
.btn {
  background-color: #062d46;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la línea decorativa */
hr {
  border: 0;
  height: 4px;
  background: linear-gradient(to right, #f0f0f0, #34495e, #f0f0f0);
  margin: 25px 0;
}
